spawn-at-startup "/usr/libexec/pam_kwallet_init"

spawn-at-startup "waybar"
spawn-at-startup "swayosd-server"
spawn-at-startup "swaync"
spawn-at-startup "mako"

spawn-at-startup "swayidle" "-w" \
    "timeout" "120" "niri msg action power-off-monitors" \
    "timeout" "300" "hyprlock" \
    "timeout" "900" "systemctl suspend" \
    "resume" "niri msg action power-on-monitors" \
    "before-sleep" "hyprlock"
