window-rule {
    match app-id="^xwaylandvideobridge$"
    open-floating true
}

window-rule {
    match app-id="^$" title="Picture in picture"
    open-floating true
    default-column-width { fixed 416; }
    default-window-height { fixed 234; }
}
