[user]
	email = soramakura418@gmail.com
	name = soramakura
[core]
	editor = nvim
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	ff = only
[color]
	ui = auto
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
